@font-face {
  font-family: Aquire;
  src: url("../fonts/AquireBold-8Ma60.otf") format("opentype");
}
::-webkit-scrollbar {
  background: #000000;
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 25px;
}

body {
  scroll-behavior: smooth;
  background: #140021;
  font-family: "Lucida Console", Monaco, monospace;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
}

a:hover {
  color: inherit;
}

h1 {
  font-family: "Aquire", sans-serif;
}

header {
  font-family: "Aquire", sans-serif;
  background: url("../images/layered-steps-haikei (2).svg") no-repeat;
  height: 85vh;
  color: #ffffff;
}
header .container {
  padding: 2px;
}
header .avatar {
  background: url("../images/avatar.jpeg");
  width: 13rem;
  height: 13rem;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  animation: border_color 5s ease-in infinite;
}
header i {
  font-size: 20px;
}
header .navbar {
  font-size: 24px;
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
header .navbar .navbar-toggler {
  border: none; /* Remove border */
  outline: none; /* Remove outline */
  background-color: transparent; /* Remove background color */
}
header .navbar .navbar-toggler-icon {
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"><path stroke="rgba(0, 0, 0, 0.5)" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/></svg>'); /* Set the 'X' icon */
  width: 20px; /* Set the width */
  height: 20px; /* Set the height */
}
header p, header .badge {
  font-family: "Lucida Console", Monaco, monospace;
}
header .wrap {
  margin-top: 70px;
}
header .chevron {
  background: url("../images/chevron-double-down-svgrepo-com.svg");
  width: 50px;
  height: 50px;
  background-size: cover;
  animation: chevronAnimation 3s infinite;
  margin-top: 6rem !important;
}

.about {
  background: #330155;
  box-shadow: 1rem 1rem #9b06b9;
  transition: box-shadow 1s ease-in-out;
  height: 75vh;
}
.about .card {
  box-shadow: -5px -5px 1px rgba(252, 247, 250, 0.829);
  background: rgba(155, 6, 185, 0.368627451);
  filter: blur(0.4px);
}

.about:hover {
  box-shadow: 1rem -1rem white;
}

.projects i {
  font-size: 45px;
}
.projects .card {
  box-shadow: 0.5rem 0.5rem rgba(252, 247, 250, 0.829);
  cursor: pointer;
  background-color: #ffffff;
  transition: background-color 1s ease-in-out, box-shadow 1s ease-in-out, color 1s ease-in-out;
}
.projects .card:hover {
  background-color: #9b06b9;
  color: white;
  box-shadow: -5px -5px 1px white;
}

.skills {
  background: rgba(252, 247, 250, 0.829);
  box-shadow: -1rem 1rem #7b2ab1;
  transition: box-shadow 1s ease-in-out;
}
.skills ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.skills li {
  margin: 0;
  padding: 0 0 0 20px;
  position: relative;
}
.skills ul::before, .skills li:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-left: 2px solid rgb(0, 0, 0);
  height: 100%;
}
.skills li:last-child:before {
  border-left: none;
}
.skills ul ul {
  margin-top: 10px;
}
.skills ul ul li:before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  border-top: 2px solid black;
  width: 20px;
}
.skills ul ul li:last-child:before {
  border-left: 20px solid transparent;
}

.skills:hover {
  box-shadow: 1rem -1rem #9b06b9;
}

footer {
  background: url(../images/layered-steps-haikei\ \(4\).svg);
}

.repos h1 {
  color: lawngreen;
}

@keyframes border_color {
  0% {
    border: rgb(252, 252, 252) solid 0.2rem;
  }
  50% {
    border: rgb(158, 17, 252) solid 0.2rem;
  }
  100% {
    border: rgb(255, 255, 255) solid 0.2rem;
  }
}
@keyframes chevronAnimation {
  0% {
    transform: translateY(0); /* Start at the default position */
  }
  50% {
    transform: translateY(-100%); /* Move up by 100% of the height */
  }
  100% {
    transform: translateY(0); /* Move back to the default position */
  }
}
@media (max-width: 600px) {
  .about, header {
    height: 48rem;
  }
  .about .card, header .card {
    width: 22rem !important;
    vertical-align: middle;
  }
  .about .carousel, header .carousel {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */